.fondoModal {
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgb(84, 186, 185, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* .modal-crear {
  width: 50vw;
  height: 70vh;
} */

.formCrear {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 90%;
  background-color: #fbf8f1;
  /* border: thin solid rgb(219, 189, 15); */
  border-radius: 5px;
  margin: auto;
  z-index: 2;
}
